.hero {
    height: 92vh;
    width: 100vw;
    background-color: aqua;
    position: relative;

    .left-side {
        width: 55%;
        background-color: green;
        position: absolute;
        top: 20%;
        text-align: left;
        padding: 40px;
        padding-left: 80px;

        h1 {
            font-size: 5em;
            margin: 0;
        }

        h2 {
            font-size: 2em;
            margin: 0;
        }

        button {
            background-color: none;
            border: solid 1px black;
            font-size: 1.2em;
            border-radius: 3px;
            padding: 5px;
            margin: 10px 10px 10px 0;
        }
    }
}