.nav-container {
    width: 100vw;
    height: 50px;
    background-color: rgb(111, 196, 111);
    display: inline-flex;
    position: relative;

    .left {
        margin-left: 80px;
        display: inline;
        margin-top: 16px;
    }

    .right {
        right: 0;
        position: absolute;
        display: flex;
        justify-content: space-between;

        .nav-items {
            display: flex;
            width: 350px;
            justify-content: space-between;
            list-style: none;
            margin-right: 10px;

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        .social-icons {
            display: flex;
            width: 150px;
            font-size: 1.3em;
            margin-top: 12px;
            justify-content: space-between;
            list-style: none;
            margin-right: 80px;
        }

    }
}